<div id="curso" class="container mt-4">
    <div class="row">
        <div class="col-sm">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/curso">Cursos</a></li>
                <li class="breadcrumb-item active" aria-current="page">Adicionar</li>
            </ol>
        </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h2>Adicionar Cursos</h2>
            <p>Preencha o formulário para criar um novo curso</p>
            <% if(typeof error !== 'undefined') { %>
                <p><%= error %></p>
            <% } %>
            <form action="/curso/create" method="POST">
                <div class="form-group">
                    <label for="sigla">Sigla (Obrigatório)</label><br>
                    <input type="text" name="sigla" class="form-control" id="sigla" placeholder="IE00" required>
                </div>
                <div class="form-group">
                    <label for="nome">Nome (Obrigatório)</label>
                    <input type="text" name="nome" class="form-control" id="nome" placeholder="Engenharia Elétrica" required>
                </div>
                <div class="form-group">
                    <label for="descricao">Descrição</label>
                    <textarea name="descricao" class="form-control" id="descricao" rows="3" placeholder="Descrição do curso" ></textarea>
                </div>
                <input type="hidden" name="_csrf" value="<%= _csrf%>">
                <button class="btn btn-success" type="submit">Enviar</button>
            </form>
        </div>
    </div>
</div>