<div id="curso" class="container mt-4">
    <div class="row">
        <div class="col-sm">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/curso">Cursos</a></li>
                <li class="breadcrumb-item active" aria-current="page">Dados</li>
            </ol>
        </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h2>Informações do Curso </h2>
            <hr>
            <% if(typeof error !== 'undefined') { %>
                <p><%= error %></p>
            <% } else {%>
            <h4>Sigla</h4>
            <%= curso.sigla %>
            <hr>
            <h4>Nome</h4>
            <%= curso.nome %>
            <hr>
            <h4>Descrição</h4>
            <%= curso.descricao %>
            <% } %>
            <hr>
        </div>
    </div>
    <a class="btn btn-primary btn-lg" href="/curso" role="button">Voltar</a>
</div>