p {
	border: 10px solid black;
	border-bottom-left-radius: 60px;
	border-top-right-radius: 60px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	padding: 10px 40px 6px 40px;
	background-color: lightgray;
}